html {}

body {}

.button {
    > header {
        nav {
            ul {
                li {
                    a {}
                }
            }
        }
    }

    > section {}

    > footer {}
}
