html {
    background-color: black;
}
body {
    font-size: 100%;
    padding: 1em;
    margin: 1em;
    background-color: blue;
/* ---------------------------
      Basic Layout
--------------------------- */

    >header {
        nav {
            ul {
                li {
                    a {

                    }
                }
            }
        }
    }

    >section {

    }

    >footer {

    }
}

/* ---------------------------
      Common Assets
--------------------------- */
.button {


}

/* ---------------------------
      Layout
--------------------------- */
