/* ------------------------------------------------------
		Responive Control
------------------------------------------------------ */
@import 'responsive/_0.scss';


@media (min-width: 480px) {
	@import 'responsive/_480.scss';
		
}

@media (min-width: 760px) {
	@import 'responsive/_760.scss';

}

@media (min-width: 980px) {
	@import 'responsive/_980.scss';
	
}

@media (min-width: 1200px){
	@import 'responsive/_1200.scss';
	
}

@media (min-width: 1400px) {
	@import 'responsive/_1400.scss';
	
}
@media (min-width: 1600px) {
	@import 'responsive/_1600.scss';
}