/* ---------------------------
	  Font Includes
--------------------------- */
@font-face {
	font-family: 'IstokWeb-Bold';
	src: url('fonts/IstokWeb-Regular.ttf');
}
@font-face {
	font-family: 'Lora-Regular';
	src: url('fonts/Lora-Regular.ttf');
}
@font-face {
	font-family: 'Lora-Italic';
	src: url('fonts/Lora-Italic.ttf');
}
@font-face {
	font-family: 'Lora-Bold';
	src: url('fonts/Lora-Bold.ttf');
}
