html {}

body {
	background-color: black;
	color: white;
	font-size: 100%;
	padding: 2em;

	> header {
		h1 {
			a {
				img {}
			}
		}

		nav {
			ul {}

			li {}

			a {}
		}
	}

	> section {}

	> footer {}
}

.button {}
